
# Created by https://www.toptal.com/developers/gitignore/api/nim,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=nim,vscode

### Nim ###
nimcache/
nimblecache/
htmldocs/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/nim,vscode

